# CONFIG

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import sys
sys.path.append('../src')  # Adjust based on your actual structure
from config import DATA_DIR
import pandas as pd
import time
from roof_condition_insights import RoofConditionInsights

In [3]:
# # multiprocess
# -- UAT
# rci = RoofConditionInsights(
#     env="UAT",
#     api_key="FCC2638D0B8045FD81FA4DAD15E7D059",
#     api_companyid="340862391",
#     username="all@grange.com",
#     password="Myr1@d"
# )

# df_roof_condition_insights = rci.process_multiple_addresses(addresses, generate_pdf=False, save_json=True)
# -- PRD

rci = RoofConditionInsights(
    env="PRD",
    api_key="79802C81EF4C49C5A24F202BF3BB5219",
    api_companyid="3168675050",
    username="all@vod.com",
    password="myriadvod123456"
)

# -- Single Address
address = "3601 34TH AVE S, MINNEAPOLIS, MN 55406"
insights = rci.get_roof_condition_insights(address, generate_pdf=True)
insights

(None, 500)

In [4]:
# UAT credentials:
# all@grange.com
# Myr1@d

# Api Key = FCC2638D0B8045FD81FA4DAD15E7D059
# Company ID = 340862391

# PRD 
# Api Key = 79802C81EF4C49C5A24F202BF3BB5219
# Company ID = 3168675050

# CHECK SCORE CALCULATIONS (roof score analysis.xlsx)

In [5]:
file_path = os.path.join(DATA_DIR, 'datasets/input/roof score analysis.xlsx')
rci_analysis = pd.read_excel(file_path)

In [6]:
rci_analysis.head()

,Address,Y (1-100) High = Best,Y Rating,Y Scaled High = Best,X (1-5) High = Best,Notes,Unnamed: 6,RCIv1.1 Scaled Low = Best,RCI V1.0 (0-10) Low = Best,Updated RCI score v1,RCI Score V1.1,Unnamed: 11,RCI 1.0 Scaled,roof age,Unnamed: 14,permits,hail score,hail event,wind,Unnamed: 19
0,"106 N McKinley St. Casper WY, 82601",30.0,POOR,1.50,4,NaN,NaN,2.75,1,5.5,5.5,4.5,0.50,7.0,tree overhang,NaN,0.0,NaN,"numberOfWindSpeedEventsGT60mph: 1,",NaN
1,"1980 Linda Vista Dr. Casper, WY 82609",80.0,GOOD,4.00,5,NaN,tree overhang,2.75,1,5.5,5.5,4.5,0.50,8.0,tree overhang,NaN,0.0,NaN,"""numberOfWindSpeedEventsGT60mph"": 1,",NaN
2,"3850 Swanton Ave. Casper, WY 82609",71.0,GOOD,3.55,5,NaN,tree overhang,2.75,1,5.5,5.5,4.5,0.50,8.0,tree overhang,NaN,0.0,NaN,"""numberOfWindSpeedEventsGT60mph"": 1,",NaN
3,"106 Tullulah Ave. River Ridge LA, 70123",15.0,VERY POOR,0.75,1,NaN,tree overhang,2.25,4.5,4.5,4.5,0.0,2.25,7.0,temp repair,NaN,0.0,NaN,NaN,NaN
4,409 brighton ct Shreveport LA 71115,48.0,FAIR,2.40,5,Roof was replaced,"roof discoloration, tree overhang",3.50,1,1.0,7.0,6.0,0.50,2.0,tree overhang,NaN,2.0,"""numberOfHailEventsGTE1InchLT2Inches"": 1,",NaN,NaN

In [7]:
addresses = rci_analysis['Address'].dropna().to_list()

In [8]:
rci = RoofConditionInsights(
    env="PRD",
    api_key="79802C81EF4C49C5A24F202BF3BB5219",
    api_companyid="3168675050",
    username="all1@vod.com",
    password="myriadvod123456"
)

df_roof_condition_insights = rci.process_multiple_addresses(addresses, generate_pdf=False)

---
Starting new run for 21 addresses using sequential processing...
Created folder: /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0016

ValueError: No objects to concatenate

In [ ]:
# multiprocess
rci = RoofConditionInsights(
    env="UAT",
    api_key="FCC2638D0B8045FD81FA4DAD15E7D059",
    api_companyid="340862391",
    username="all@grange.com",
    password="Myr1@d"
)
import time
st = time.time()
df_roof_condition_insights = rci.process_multiple_addresses(addresses, generate_pdf=False, save_json=True)
et = time.time()
print('time', et - st)

In [ ]:
df_roof_condition_insights

In [ ]:
df_roof_condition_insights[["address","score_v1.0","score_v1.1","key_triggers","run_completed"]]

# UnderWriting Data Q4 2022

In [7]:
import pandas as pd
address_filepath = os.path.join(DATA_DIR, 'datasets/input/AS_Q4_2022.xlsx')
dtype_dict = {
    'UW_STREET': str,
    'UW_CITY': str,
    'UW_STATE': str,
    'UW_ZIP': str
}

df_UW = pd.read_excel(address_filepath,
                     dtype=dtype_dict)
# df_UW['full_address'] = df_UW['UW_STREET'] + ", " + df_UW['UW_CITY'] + ", " + df_UW['UW_STATE'] + " " + df_UW['UW_ZIP'].astype(str)
df_UW.head()

,UW_DATE,UW_NUMBER,UW_STREET,UW_CITY,UW_STATE,UW_ZIP
0,2022-10-12 00:09:58,4761690126,427 LINDSEY ST,NEWPORT,KY,41071
1,2022-11-22 00:26:20,4820405436,1037 S BELLEVIEW PL,INDIANAPOLIS,IN,46221
2,2022-10-12 00:27:51,4761871305,1419 S FLOYD ST,LOUISVILLE,KY,40208
3,2022-10-12 00:12:25,4761720519,647 OAK ST,NEWPORT,KY,41071
4,2022-10-27 00:32:24,4784166017,207 VARNER ST N,JORDAN,MN,55352

In [8]:
df_UW.shape

(120933, 6)

In [9]:
# Create temporary lowercase columns for comparison
lowercase_cols = ['UW_STREET_lower', 'UW_CITY_lower', 'UW_STATE_lower', 'UW_ZIP_lower']
for col, lowercase_col in zip(['UW_STREET', 'UW_CITY', 'UW_STATE', 'UW_ZIP'], lowercase_cols):
    df_UW[lowercase_col] = df_UW[col].str.lower()
# Drop duplicates based on lowercase columns
df_UW = df_UW.drop_duplicates(subset=lowercase_cols, keep='first')
df_UW.drop(columns=lowercase_cols, inplace=True)
df_UW.reset_index(drop=True, inplace=True)

In [10]:
df_UW.shape

(98434, 6)

# Claims Data 2023

In [11]:
# read 2023 claim data
import pandas as pd
claim_filepath = os.path.join(DATA_DIR, 'datasets/input/2023_Allstate_Claims_Data_Export.xlsx')

dtype_dict = {
    'street': str,
    'city': str,
    'state': str,
    'zip': str
}
df_claims = pd.read_excel(claim_filepath, dtype=dtype_dict)
df_claims['full_address'] = df_claims['street'].astype(str) + ", " + df_claims['city'].astype(str) + ", " + df_claims['state'].astype(str) + " " + df_claims['zip'].astype(str)
# Filter rows NOT containing 'test' or 'train'
df_claims['claim_number'] = df_claims['claim_number'].astype(str)
df_claims = df_claims[~df_claims['claim_number'].str.contains('test|train|automation', case=False)]

df_claims.head()

,first_date,last_date,claim_count,claim_number,street,city,state,zip,full_address
0,2023-09-23 07:58:00,2023-09-23 08:00:00,2,484537667,2045 CLEARWATER LOOP NE,RIO RANCHO,NM,87144-5559,"2045 CLEARWATER LOOP NE, RIO RANCHO, NM 87144-..."
1,2023-10-08 08:39:00,2023-10-08 08:45:00,2,523643906,7023 BOLELYN WAY,HENRICO,VA,232317277,"7023 BOLELYN WAY, HENRICO, VA 232317277"
2,2023-01-04 15:49:00,2023-01-04 16:50:00,2,535912083,3414 CASCADIA DR.,HOUSTON,TX,77082-1441,"3414 CASCADIA DR., HOUSTON, TX 77082-1441"
3,2023-09-04 13:50:00,2023-09-04 13:50:00,1,536551195,89 HICKORY CT,NEW HAVEN,KY,40051-6122,"89 HICKORY CT, NEW HAVEN, KY 40051-6122"
4,2023-08-14 10:33:00,2023-08-14 10:33:00,1,548825157,1147 82ND ST SW,ALBUQUERQUE,NM,87121-2089,"1147 82ND ST SW, ALBUQUERQUE, NM 87121-2089"

In [12]:
df_claims.shape

(293248, 9)

In [13]:
# deup claims
df_claims['first_date'] = pd.to_datetime(df_claims['first_date'])
df_claims['last_date'] = pd.to_datetime(df_claims['last_date'])
# sort by 'first_date'
df_claims = df_claims.sort_values('first_date').reset_index(drop=True)
# Group by 'full_address' and aggregate data
grouped = df_claims.groupby(['street', 'city', 'state', 'zip']).agg({
    'claim_number': lambda x: list(x),
    'claim_count': ['count', lambda x: list(x)],
    'first_date': ['min', 'max', lambda x: list(x)],
    'last_date': ['min', 'max', lambda x: list(x)]
}).reset_index()

# Renaming columns for clarity
grouped.columns = ['street', 'city', 'state', 'zip',
    'claim_numbers', 'claim_row_count', 'claim_counts',
    'min_first_date', 'max_first_date', 'first_dates',
    'min_last_date', 'max_last_date', 'last_dates'
]

print(grouped.shape)
grouped.sort_values('claim_row_count', ascending=False)

(281975, 13)

,street,city,state,zip,claim_numbers,claim_row_count,claim_counts,min_first_date,max_first_date,first_dates,min_last_date,max_last_date,last_dates
88408,1M Galaxy,Easy,CO,80022,"[EHS-481_13-01-2023, EBB-510_13-01-2023, YTV-5...",183,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, ...",2023-01-13 15:28:00,2023-12-15 05:08:00,"[2023-01-13 15:28:00, 2023-01-13 19:29:00, 202...",2023-01-13 15:28:00,2023-12-15 05:08:00,"[2023-01-13 15:28:00, 2023-01-13 19:29:00, 202..."
88405,1L Galaxy,Easy,CO,80022,"[ha0223ALL a p, ha0223ALL i p, HJA111102230917...",23,"[3, 3, 3, 6, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",2023-02-23 13:28:00,2023-12-14 19:46:00,"[2023-02-23 13:28:00, 2023-02-23 13:28:00, 202...",2023-02-23 13:29:00,2023-12-14 19:54:00,"[2023-02-23 13:29:00, 2023-02-23 13:29:00, 202..."
35606,123 Hover Street,Alpharetta,GA,30005,"[WJ0000000312, WJ0000000313, WJ0000000315, WJ0...",9,"[1, 1, 1, 1, 1, 2, 1, 1, 1]",2023-06-05 07:48:00,2023-07-21 09:41:00,"[2023-06-05 07:48:00, 2023-06-06 05:07:00, 202...",2023-06-05 07:48:00,2023-07-21 09:41:00,"[2023-06-05 07:48:00, 2023-06-06 05:07:00, 202..."
1170,100 Prairie Lane,Denver,CO,80203,"[14141414, 7172023, 7182023, 9012023, 08312023...",6,"[2, 2, 1, 1, 1, 1]",2023-06-30 10:25:00,2023-09-29 14:08:00,"[2023-06-30 10:25:00, 2023-07-17 13:57:00, 202...",2023-06-30 12:26:00,2023-09-29 14:08:00,"[2023-06-30 12:26:00, 2023-07-17 14:13:00, 202..."
168229,390 CLAUDIA LN,MIDWAY,GA,31320-3252,"[703932376, 722612066, 724730809, 726847882, 7...",6,"[1, 1, 2, 1, 1, 1]",2023-02-28 12:34:00,2023-10-21 07:18:00,"[2023-02-28 12:34:00, 2023-07-24 15:09:00, 202...",2023-02-28 12:34:00,2023-10-21 07:18:00,"[2023-02-28 12:34:00, 2023-07-24 15:09:00, 202..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95868,208 AMY CT,STROUDSBURG,PA,18360-9166,[708889258],1,[2],2023-04-04 11:26:00,2023-04-04 11:26:00,[2023-04-04 11:26:00],2023-04-04 13:42:00,2023-04-04 13:42:00,[2023-04-04 13:42:00]
95867,208 AMES BURY POINTE,FLORENCE,SC,29501-8508,[719810888],1,[1],2023-06-30 15:14:00,2023-06-30 15:14:00,[2023-06-30 15:14:00],2023-06-30 15:14:00,2023-06-30 15:14:00,[2023-06-30 15:14:00]
95866,208 ALREVA RD,LOUISVILLE,KY,40216-1502,[709129266],1,[2],2023-04-08 08:54:00,2023-04-08 08:54:00,[2023-04-08 08:54:00],2023-04-08 08:55:00,2023-04-08 08:55:00,[2023-04-08 08:55:00]
95865,208 ALLEN DR,EXTON,PA,19341-1769,[715754404],1,[2],2023-05-30 13:24:00,2023-05-30 13:24:00,[2023-05-30 13:24:00],2023-05-30 14:43:00,2023-05-30 14:43:00,[2023-05-30 14:43:00]
95873,208 ASHLEY DANIELLE DR,DUNCAN,SC,29334-8960,[702394065],1,[1],2023-02-11 07:22:00,2023-02-11 07:22:00,[2023-02-11 07:22:00],2023-02-11 07:22:00,2023-02-11 07:22:00,[2023-02-11 07:22:00]

In [14]:
# Merge the aggregated data back with the original DataFrame, deduplicating by 'full_address'
df_claims_dedup = df_claims.drop_duplicates(subset=['street', 'city', 'state', 'zip'], keep='first')
df_claims_deduped = pd.merge(df_claims_dedup[['street', 'city', 'state', 'zip']], 
                             grouped, 
                             on=['street', 'city', 'state', 'zip'], 
                             how='left')

In [15]:
df_claims_deduped.head()

,street,city,state,zip,claim_numbers,claim_row_count,claim_counts,min_first_date,max_first_date,first_dates,min_last_date,max_last_date,last_dates
0,2A DEER TRAIL,FAIRFIELD,PA,17320-8125,[697893212],1.0,[3],2023-01-01 04:17:00,2023-01-01 04:17:00,[2023-01-01 04:17:00],2023-01-01 04:20:00,2023-01-01 04:20:00,[2023-01-01 04:20:00]
1,2608 COCHRANE DR,CHARLOTTE,NC,28269-4041,[695384248],1.0,[1],2023-01-01 06:03:00,2023-01-01 06:03:00,[2023-01-01 06:03:00],2023-01-01 06:03:00,2023-01-01 06:03:00,[2023-01-01 06:03:00]
2,113 WINDSTONE DR,COLUMBIA,SC,29212-2148,[697026300],1.0,[1],2023-01-01 06:47:00,2023-01-01 06:47:00,[2023-01-01 06:47:00],2023-01-01 06:47:00,2023-01-01 06:47:00,[2023-01-01 06:47:00]
3,11258 HGY 64,ARLINGTON,TN,38002,[697209807],1.0,[1],2023-01-01 08:10:00,2023-01-01 08:10:00,[2023-01-01 08:10:00],2023-01-01 08:10:00,2023-01-01 08:10:00,[2023-01-01 08:10:00]
4,510 SHILOH APT 301,LAREDO,TX,78045-6702,[697739688],1.0,[2],2023-01-01 08:12:00,2023-01-01 08:12:00,[2023-01-01 08:12:00],2023-01-06 14:50:00,2023-01-06 14:50:00,[2023-01-06 14:50:00]

In [16]:
df_claims_deduped.shape

(281977, 13)

In [17]:
df_claims_deduped.head()

,street,city,state,zip,claim_numbers,claim_row_count,claim_counts,min_first_date,max_first_date,first_dates,min_last_date,max_last_date,last_dates
0,2A DEER TRAIL,FAIRFIELD,PA,17320-8125,[697893212],1.0,[3],2023-01-01 04:17:00,2023-01-01 04:17:00,[2023-01-01 04:17:00],2023-01-01 04:20:00,2023-01-01 04:20:00,[2023-01-01 04:20:00]
1,2608 COCHRANE DR,CHARLOTTE,NC,28269-4041,[695384248],1.0,[1],2023-01-01 06:03:00,2023-01-01 06:03:00,[2023-01-01 06:03:00],2023-01-01 06:03:00,2023-01-01 06:03:00,[2023-01-01 06:03:00]
2,113 WINDSTONE DR,COLUMBIA,SC,29212-2148,[697026300],1.0,[1],2023-01-01 06:47:00,2023-01-01 06:47:00,[2023-01-01 06:47:00],2023-01-01 06:47:00,2023-01-01 06:47:00,[2023-01-01 06:47:00]
3,11258 HGY 64,ARLINGTON,TN,38002,[697209807],1.0,[1],2023-01-01 08:10:00,2023-01-01 08:10:00,[2023-01-01 08:10:00],2023-01-01 08:10:00,2023-01-01 08:10:00,[2023-01-01 08:10:00]
4,510 SHILOH APT 301,LAREDO,TX,78045-6702,[697739688],1.0,[2],2023-01-01 08:12:00,2023-01-01 08:12:00,[2023-01-01 08:12:00],2023-01-06 14:50:00,2023-01-06 14:50:00,[2023-01-06 14:50:00]

In [18]:
group_count = df_claims.groupby(['street', 'city', 'state', 'zip']).size().reset_index(name='claim_row_count')
deduped_df = df_claims.drop_duplicates(subset=['street', 'city', 'state', 'zip'], keep='first')
df_claims_deduped_simple = pd.merge(deduped_df, group_count, on=['street', 'city', 'state', 'zip'], how='left')

In [19]:
df_claims_deduped_simple.shape

(281977, 10)

In [20]:
df_claims_deduped_simple.head()

,first_date,last_date,claim_count,claim_number,street,city,state,zip,full_address,claim_row_count
0,2023-01-01 04:17:00,2023-01-01 04:20:00,3,697893212,2A DEER TRAIL,FAIRFIELD,PA,17320-8125,"2A DEER TRAIL, FAIRFIELD, PA 17320-8125",1.0
1,2023-01-01 06:03:00,2023-01-01 06:03:00,1,695384248,2608 COCHRANE DR,CHARLOTTE,NC,28269-4041,"2608 COCHRANE DR, CHARLOTTE, NC 28269-4041",1.0
2,2023-01-01 06:47:00,2023-01-01 06:47:00,1,697026300,113 WINDSTONE DR,COLUMBIA,SC,29212-2148,"113 WINDSTONE DR, COLUMBIA, SC 29212-2148",1.0
3,2023-01-01 08:10:00,2023-01-01 08:10:00,1,697209807,11258 HGY 64,ARLINGTON,TN,38002,"11258 HGY 64, ARLINGTON, TN 38002",1.0
4,2023-01-01 08:12:00,2023-01-06 14:50:00,2,697739688,510 SHILOH APT 301,LAREDO,TX,78045-6702,"510 SHILOH APT 301, LAREDO, TX 78045-6702",1.0

In [21]:
df_claims_deduped.sort_values('claim_row_count', ascending=False).head(20)

,street,city,state,zip,claim_numbers,claim_row_count,claim_counts,min_first_date,max_first_date,first_dates,min_last_date,max_last_date,last_dates
7701,1M Galaxy,Easy,CO,80022,"[EHS-481_13-01-2023, EBB-510_13-01-2023, YTV-5...",183.0,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, ...",2023-01-13 15:28:00,2023-12-15 05:08:00,"[2023-01-13 15:28:00, 2023-01-13 19:29:00, 202...",2023-01-13 15:28:00,2023-12-15 05:08:00,"[2023-01-13 15:28:00, 2023-01-13 19:29:00, 202..."
29854,1L Galaxy,Easy,CO,80022,"[ha0223ALL a p, ha0223ALL i p, HJA111102230917...",23.0,"[3, 3, 3, 6, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...",2023-02-23 13:28:00,2023-12-14 19:46:00,"[2023-02-23 13:28:00, 2023-02-23 13:28:00, 202...",2023-02-23 13:29:00,2023-12-14 19:54:00,"[2023-02-23 13:29:00, 2023-02-23 13:29:00, 202..."
137894,123 Hover Street,Alpharetta,GA,30005,"[WJ0000000312, WJ0000000313, WJ0000000315, WJ0...",9.0,"[1, 1, 1, 1, 1, 2, 1, 1, 1]",2023-06-05 07:48:00,2023-07-21 09:41:00,"[2023-06-05 07:48:00, 2023-06-06 05:07:00, 202...",2023-06-05 07:48:00,2023-07-21 09:41:00,"[2023-06-05 07:48:00, 2023-06-06 05:07:00, 202..."
32934,390 CLAUDIA LN,MIDWAY,GA,31320-3252,"[703932376, 722612066, 724730809, 726847882, 7...",6.0,"[1, 1, 2, 1, 1, 1]",2023-02-28 12:34:00,2023-10-21 07:18:00,"[2023-02-28 12:34:00, 2023-07-24 15:09:00, 202...",2023-02-28 12:34:00,2023-10-21 07:18:00,"[2023-02-28 12:34:00, 2023-07-24 15:09:00, 202..."
167896,100 Prairie Lane,Denver,CO,80203,"[14141414, 7172023, 7182023, 9012023, 08312023...",6.0,"[2, 2, 1, 1, 1, 1]",2023-06-30 10:25:00,2023-09-29 14:08:00,"[2023-06-30 10:25:00, 2023-07-17 13:57:00, 202...",2023-06-30 12:26:00,2023-09-29 14:08:00,"[2023-06-30 12:26:00, 2023-07-17 14:13:00, 202..."
224450,1M GALAXY,EASY,CO,80022,"[mikemiller10ed381d1, WANGM12, mikemiller1fe3b...",5.0,"[2, 1, 1, 1, 1]",2023-09-06 12:17:00,2023-10-18 13:23:00,"[2023-09-06 12:17:00, 2023-09-07 11:45:00, 202...",2023-09-06 12:18:00,2023-10-18 13:23:00,"[2023-09-06 12:18:00, 2023-09-07 11:45:00, 202..."
56000,810 POWDERHORN DR,ROUND ROCK,TX,78681-2543,"[706843117, 710964230, 723246682, 722668589, 7...",5.0,"[1, 1, 1, 1, 1]",2023-03-18 21:23:00,2023-09-26 13:34:00,"[2023-03-18 21:23:00, 2023-04-21 08:50:00, 202...",2023-03-18 21:23:00,2023-09-26 13:34:00,"[2023-03-18 21:23:00, 2023-04-21 08:50:00, 202..."
11143,2420 SW 79TH ST,OKLAHOMA CITY,OK,73159-4906,"[700083982, 718676281, 718678832, 724228150]",4.0,"[1, 1, 1, 1]",2023-01-19 14:34:00,2023-08-06 09:42:00,"[2023-01-19 14:34:00, 2023-06-22 11:11:00, 202...",2023-01-19 14:34:00,2023-08-06 09:42:00,"[2023-01-19 14:34:00, 2023-06-22 11:11:00, 202..."
162742,676 COUNTY ROAD 37,TYLER,TX,75706-7040,"[719169682, 725484497, 730138633, 730137262]",4.0,"[2, 2, 2, 2]",2023-06-27 08:59:00,2023-09-27 13:53:00,"[2023-06-27 08:59:00, 2023-08-16 10:06:00, 202...",2023-06-27 09:06:00,2023-09-27 13:56:00,"[2023-06-27 09:06:00, 2023-08-16 10:25:00, 202..."
60464,229 OAKDALE AVE,MUNDELEIN,IL,60060-3907,"[707423182, 713796596, 732481718, 733854624]",4.0,"[1, 1, 1, 2]",2023-03-23 15:52:00,2023-10-26 09:11:00,"[2023-03-23 15:52:00, 2023-05-13 13:34:00, 202...",2023-03-23 15:52:00,2023-10-27 10:38:00,"[2023-03-23 15:52:00, 2023-05-13 13:34:00, 202..."
43548,1536 TIMBER RIDGE DR.,ROCKWALL,TX,75032-7286,"[704661107, 713804045, 722253291, 734112360]",4.0,"[1, 1, 1, 1]",2023-03-08 07:51:00,2023-10-28 14:09:00,"[2023-03-08 07:51:00, 2023-05-13 14:07:00, 202...",2023-03-08 07:51:00,2023-10-28 14:09:00,"[2023-03-08 07:51:00, 2023-05-13 14:07:00, 202..."
44396,2105 N BRECKENRIDGE ST,ENNIS,TX,75119-1876,"[704939981, 707298062, 718679095, 730531357]",4.0,"[1, 1, 1, 1]",2023-03-08 15:05:00,2023-09-28 07:42:00,"[2023-03-08 15:05:00, 2023-03-22 21:07:00, 202...",2023-03-08 15:05:00,2023-09-28 07:42:00,"[2023-03-08 15:05:00, 2023-03-22 21:07:00, 202..."
113566,1731 REANEY AVE,SAINT PAUL,MN,55106-4243,"[712388735, 717812242, 719361644, 725475487]",4.0,"[2, 2, 3, 2]",2023-05-09 08:30:00,2023-08-15 17:08:00,"[2023-05-09 08:30:00, 2023-06-15 16:44:00, 202...",2023-05-09 08:33:00,2023-08-15 17:09:00,"[2023-05-09 08:33:00, 2023-06-15 16:46:00, 202..."
122357,8475 MEADOW VALE DR,MEMPHIS,TN,38125-3453,"[714294691, 722078011, 722083284, 722083482]",4.0,"[4, 2, 2, 2]",2023-05-17 15:39:00,2023-07-19 13:15:00,"[2023-05-17 15:39:00, 2023-07-19 13:12:00, 202...",2023-07-19 13:14:00,2023-07-22 13:22:00,"[2023-07-22 13:22:00, 2023-07-19 13:14:00, 202..."
4838,2600 S BATTERY ST,LITTLE ROCK,AR,72206-1830,"[698808334, 700719131, 711890186, 720517739]",4.0,"[2, 2, 2, 2]",2023-01-09 17:11:00,2023-07-07 16:24:00,"[2023-01-09 17:11:00, 2023-01-25 15:31:00, 202...",2023-01-09 17:55:00,2023-07-07 16:27:00,"[2023-01-09 17:55:00, 2023-01-25 15:34:00, 202..."
42283,219 VALLEY VIEW DR,ROBINSON,TX,76706-6159,"[704982800, 716388038, 720459098, 730152030]",4.0,"[2, 2, 2, 4]",2023-03-07 11:37:00,2023-09-25 14:37:00,"[2023-03-07 11:37:00, 2023-06-05 10:06:00, 202...",2023-03-07 11:39:00,2023-11-16 16:50:00,"[2023-03-07 11:39:00, 2023-06-05 10:08:00, 202..."
42641,209 CHARLES DR,LINDALE,TX,75771-3394,"[705244804, 713541506, 717640676, 727303489]",4.0,"[1, 1, 1, 1]",2023-03-07 16:16:00,2023-08-31 09:01:00,"[2023-03-07 16:16:00, 2023-05-11 14:30:00, 202...",2023-03-07 16:16:00,2023-08-31 09:01:00,"[2023-03-07 16:16:00, 2023-05-11 14:30:00, 202..."
84978,8009 4TH AVE S,BLOOMINGTON,MN,55420-1243,"[709618325, 718341134, 720665835, 722706306]",4.0,"[1, 1, 1, 1]",2023-04-12 17:02:00,2023-07-25 06:44:00,"[2023-04-12 17:02:00, 2023-06-21 09:33:00, 202...",2023-04-12 17:02:00,2023-07-25 06:44:00,"[2023-04-12 17:02:00, 2023-06-21 09:33:00, 202..."
25779,2616 LOU JOHN ST,AUSTIN,TX,78727-1243,"[701933137, 705298478, 712218361, 730059250]",4.0,"[1, 1, 1, 1]",2023-02-16 08:07:00,2023-09-26 17:44:00,"[2023-02-16 08:07:00, 2023-03-06 17:02:00, 202...",2023-02-16 08:07:00,2023-09-26 17:44:00,"[2023-02-16 08:07:00, 2023-03-06 17:02:00, 202..."
20656,9627 HILLIS,HOUSTON,TX,77078-2824,"[702093261, 710179425, 713217636, 718707714]",4.0,"[2, 2, 2, 4]",2023-02-07 10:39:00,2023-06-26 08:49:00,"[2023-02-07 10:39:00, 2023-04-14 12:58:00, 202...",2023-02-07 11:27:00,2023-07-24 15:47:00,"[2023-02-07 11:27:00, 2023-04-14 13:02:00, 202..."

# Find Underwriting with calims in 2023

In [22]:
import pandas as pd
import re
import numpy as np
import usaddress

def find_column_name(df, possible_names):
    """
    Finds the first column name in the DataFrame that matches any of the possible names.
    
    Parameters:
    - df: pandas DataFrame to search in.
    - possible_names: List of possible names (in lowercase) for the column.
    
    Returns:
    - The name of the first matching column, or None if no match is found.
    """
    column_names = df.columns.str.lower()  # Convert all column names to lowercase for case-insensitive matching
    for possible_name in possible_names:
        for column in column_names:
            if possible_name in column:
                # Return the original column name
                return df.columns[column_names == column][0]
    return None

def standardize_zip(zip_code):
    # Check for NaN values to avoid type errors
    if pd.isnull(zip_code):
        return ""
    else:
        # Extract the first 5 digits from the zip code
        match = re.search(r'\d{1,5}', str(zip_code))
        if match:
            return match.group(0)
        else:
            # Return NaN if no valid 5-digit sequence is found
            return ""

def standardize_address(df):
    """
    Dynamically identifies address component columns and combines them into a standardized address.
    
    Parameters:
    - row: Row of the DataFrame for which to generate the standardized address.
    - df: DataFrame containing the address information.
    
    Returns:
    - The standardized address as a string.
    """
    # Dynamically find column names for each address component
    street_col = find_column_name(df, ['street', 'st'])
    city_col = find_column_name(df, ['city'])
    state_col = find_column_name(df, ['state', 'st'])
    zip_col = find_column_name(df, ['zip', 'postal', 'postcode'])
    
    # Ensure zip code is in the correct format before standardizing the address
    df['zip_5_digit'] = df[zip_col].apply(standardize_zip)
    
    # Combine address components and standardize
    df['full_address'] = df[street_col].astype(str) + ", " + df[city_col].astype(str) + ", " + df[state_col].astype(str) + " " + df['zip_5_digit'].astype(str)
    df['full_address'] = df['full_address'].apply(lambda x: re.sub(r'\s+', ' ', x).strip())
    df.drop('zip_5_digit', axis=1, inplace=True)
    return df
# def parse_and_standardize_address(street, city, state, zip_code):
#     """
#     Use the usaddress module to parse and standardize an address.
    
#     Parameters:
#     - street, city, state, zip_code: Address components.
    
#     Returns:
#     - A standardized address string.
#     """
#     try:
#         # Combine address components
#         address = f"{street}, {city}, {state} {zip_code}"
#         # Parse address using usaddress
#         parsed_address = usaddress.parse(address)
#         # Reconstruct the address from parsed components (customize as needed)
#         standardized_address = " ".join([part[0] for part in parsed_address])
#         return standardized_address
#     except usaddress.RepeatedLabelError as e:
#         print(f"Error parsing address: {e}")
#         return address  # Return original address on error

# def standardize_address(df):
#     """
#     Updates the DataFrame to include a column for standardized addresses.
    
#     Parameters:
#     - df: DataFrame containing the address information.
    
#     Returns:
#     - DataFrame with an additional column for the standardized address.
#     """
#     # Dynamically find column names for each address component
#     street_col = find_column_name(df, ['street', 'st'])
#     city_col = find_column_name(df, ['city'])
#     state_col = find_column_name(df, ['state', 'st'])
#     zip_col = find_column_name(df, ['zip', 'postal', 'postcode'])
    
#     # Ensure zip code is in the correct format before standardizing the address
#     df['zip_5_digit'] = df[zip_col].apply(standardize_zip)
    
#     # Apply parsing and standardization of addresses
#     df['standardized_address'] = df.apply(lambda row: parse_and_standardize_address(row[street_col], row[city_col], row[state_col], row['zip_5_digit']), axis=1)
    
#     # Optionally, you can drop the temporary 'zip_5_digit' column if you don't need it
#     df.drop('zip_5_digit', axis=1, inplace=True)
    
#     return df
def add_claim_info(df_a, df_b):
    # Standardize addresses in both DataFrames
    df_a = standardize_address(df_a)
    df_b = standardize_address(df_b)
    df_a['full_address_lower'] = df_a['full_address'].str.lower()
    df_b['full_address_lower'] = df_b['full_address'].str.lower()
    
    # Merge df_a with relevant columns from df_b based on standardized address
    merged_df = pd.merge(df_a, df_b[['full_address_lower', 'claim_number', 'claim_row_count', 'claim_count', 'first_date', 'last_date']], 
                         on='full_address_lower', how='left')
    
    # Add 'claim_exists' column: 1 if there's a match, 0 otherwise
    merged_df['claim_exists'] = merged_df['claim_number'].apply(lambda x: 1 if pd.notnull(x) else 0)
    
    # Drop the 'std_address' column if you don't need it anymore
    df_a.drop('full_address_lower', axis=1, inplace=True)
    df_b.drop('full_address_lower', axis=1, inplace=True)
    merged_df.drop('full_address_lower', axis=1, inplace=True)
    
    return merged_df

# # Assume df_a and df_b are already defined and loaded with your data
# # Call the function with your DataFrames
# df_a_updated = add_claim_info(df_a, df_b)

# # Display the updated DataFrame
# print(df_a_updated)

In [23]:
# using full_address
df_claims_UW = add_claim_info(df_UW, df_claims_deduped_simple)

In [24]:
df_claims_UW.shape

(98435, 13)

In [25]:
df_claims_UW['full_address'].nunique()

98433

In [26]:
len(df_claims_UW['full_address'])

98435

In [33]:
df_claims_UW['claim_exists'].value_counts()

claim_exists
0    95462
1     2973
Name: count, dtype: int64

## Statistics

In [ ]:
print(f"Number of claims:", sum(df_claims_UW.claim_exists))

In [ ]:
df_claims_UW.loc[df_claims_UW.claim_exists == 1, 'claim_row_count'].value_counts()

In [ ]:
filtered_addresses = df_claims_UW.loc[
    (df_claims_UW['claim_exists'] == 1) & (df_claims_UW['claim_row_count'] > 2), 
    'full_address'
].str.lower().tolist()


df_claims['meets_criteria'] = df_claims['full_address'].apply(
    lambda address: any(
        filter_addr in address.lower() for filter_addr in filtered_addresses
    )
)

In [ ]:
df_claims[df_claims['meets_criteria']].sort_values('full_address')

In [ ]:
df_claims_deduped_simple[df_claims_deduped_simple['full_address'] == "11502 E JAYHAWK ST, HOUSTON, TX 77044"]

In [ ]:
df_claims_UW.loc[df_claims_UW.claim_exists == 1, 'claim_count'].value_counts()

In [ ]:
print(f"Number of claims on unique address:", df_claims_UW.loc[df_claims_UW.claim_exists == 1, 'full_address'].nunique())

In [17]:
df_claims_UW_dedup = df_claims_UW.drop_duplicates(subset=['full_address'], keep='first')

In [18]:
sum(df_claims_UW_dedup.claim_exists)

2972

# PULL RCI DATA

In [23]:
addresses = df_claims_UW.loc[df_claims_UW.claim_exists == 1, 'full_address'].unique()

In [24]:
len(addresses)

2972

## UAT - TEST

In [ ]:
import time

# multiprocess
# rci = RoofConditionInsights(
#     env="PRD",
#     api_key="79802C81EF4C49C5A24F202BF3BB5219",
#     api_companyid="3168675050",
#     username="all@vod.com",
#     password="myriadvod123456",
#     verbose=True
# )

st = time.time()
df_roof_condition_insights = rci.process_multiple_addresses(addresses[:5], generate_pdf=False, save_json=True)
et = time.time()
print('Processing time', et - st)

## PROD - TEST

In [ ]:
rci = RoofConditionInsights(
    env="PRD",
    api_key="79802C81EF4C49C5A24F202BF3BB5219",
    api_companyid="3168675050",
    username="all@vod.com",
    password="myriadvod123456"
)

st = time.time()
df_roof_condition_insights = rci.process_multiple_addresses(addresses[:100], generate_pdf=False, save_json=True)
et = time.time()
print('Processing time', et - st)

## PULL UW W. CLAIM DATA

In [29]:
claim_addresses = df_claims_UW.loc[df_claims_UW.claim_exists == 1, 'full_address'].unique().tolist()

In [30]:
len(claim_addresses)

2972

In [31]:
# rci = RoofConditionInsights(
#     env="PRD",
#     api_key="79802C81EF4C49C5A24F202BF3BB5219",
#     api_companyid="3168675050",
#     username="all@vod.com",
#     password="myriadvod123456",
#     verbose=False
# )

# st = time.time()
# # df_rci_uw_w_claims = rci.process_multiple_addresses(claim_addresses, generate_pdf=False, save_json=True)
# df_rci_uw_w_claims = rci.process_multiple_addresses(claim_addresses, 
#                                generate_pdf=False, 
#                                save_json=False, 
#                                start_index=2190, 
#                                process_method='parallel', 
#                                max_workers=5)
# et = time.time()
# print('Processing time', et - st)

In [38]:
df_rci_uw_w_claims = pd.read_csv('../data/datasets/output/claim_data_2023_UW_Q4_allstate_prod_1.csv')

In [39]:
df_rci_uw_w_claims.run_status_code.value_counts()

run_status_code
200    2338
204     633
Name: count, dtype: int64

In [34]:
df_rci_uw_w_claims.shape

(2971, 49)

In [35]:
df_rci_uw_w_claims.address.nunique()

2971

In [36]:
retrieved_address = df_rci_uw_w_claims.loc[df_rci_uw_w_claims['run_completed'], 'address'].to_list()

In [37]:
len(retrieved_address)

2338

In [38]:
print("Retrieved Addresses:", round(100 * len(retrieved_address) / len(claim_addresses), 2))

Retrieved Addresses: 78.67

In [39]:
# failed_addresses = df_rci_uw_w_claims.loc[df_rci_uw_w_claims.run_completed == False, 'address'].to_list()

In [35]:
# df_rci_uw_w_claims_failed_addresses = rci.process_multiple_addresses(failed_addresses, 
#                                generate_pdf=False, 
#                                save_json=False, 
#                                start_index=0, 
#                                process_method='parallel', 
#                                max_workers=5)

In [36]:
# pd.read__csv('../data/datasets/output/claim_data_2023_UW_Q4_allstate_prod.csv', index=False)
# df_failed_addresses = pd.read_csv('../data/datasets/output/rci_data_final_20240401_2042.csv')

In [37]:
# df_failed_addresses.run_status_code.value_counts()

In [38]:
# df1 = df_rci_uw_w_claims
# df2 = df_failed_addresses
# concatenated_df = pd.concat([df1, df2], ignore_index=True)
# concatenated_df.sort_values(by='run_status_code', ascending=True, inplace=True)
# deduplicated_df = concatenated_df.drop_duplicates(subset='address')
# deduplicated_df.reset_index(drop=True, inplace=True)
# deduplicated_df.to_csv('../data/datasets/output/claim_data_2023_UW_Q4_allstate_prod_1.csv')

In [39]:
# deduplicated_df.shape

In [40]:
# deduplicated_df.run_status_code.value_counts()

## PULL UW WO. CLAIM DATA

In [40]:
# filtered df --> claim data retrived form api + all non-claim data
condition_1 = df_claims_UW['full_address'].isin(retrieved_address) & (df_claims_UW['claim_exists'] == True)
condition_2 = df_claims_UW['claim_exists'] == False
combined_condition = condition_1 | condition_2
filtered_df = df_claims_UW[combined_condition]

In [41]:
# def sample_group(group, false_to_true_ratio=3):
#     n_true = int(group['claim_exists'].sum())
#     n_false = len(group) - n_true  # Total number of false claims in the group
#     n_false_required = n_true * false_to_true_ratio
    
#     shortfall = max(0, n_false_required - n_false)  # Calculate shortfall in the False claims
#     sampled_false = group[group['claim_exists'] == False].sample(n=min(n_false, n_false_required), replace=False)
#     sampled_true = group[group['claim_exists'] == True]
    
#     return pd.concat([sampled_false, sampled_true]), shortfall

# zip_groups = filtered_df.groupby('UW_ZIP')
# shortfalls = {}
# zip_sampled_list = []

# for zip_code, group in zip_groups:
#     sampled_group, shortfall = sample_group(group)
#     zip_sampled_list.append(sampled_group)
#     if shortfall > 0:
#         shortfalls[zip_code] = shortfall

# zip_sampled = pd.concat(zip_sampled_list).reset_index(drop=True)

# # Fill the shortfalls from the corresponding UW_STATE
# zip_to_state = filtered_df.drop_duplicates('UW_ZIP')[['UW_ZIP', 'UW_STATE']].set_index('UW_ZIP')['UW_STATE'].to_dict()

# state_sampled_list = []
# for zip_code, shortfall in shortfalls.items():
#     state = zip_to_state[zip_code]
#     state_group = filtered_df[(filtered_df['UW_STATE'] == state) & (filtered_df['claim_exists'] == False)]
#     # Sample additional false claims to meet the shortfall
#     additional_sample = state_group.sample(n=min(shortfall, len(state_group)), replace=False)
#     state_sampled_list.append(additional_sample)

# state_sampled = pd.concat(state_sampled_list).reset_index(drop=True)
# final_sampled_df = pd.concat([zip_sampled, state_sampled]).drop_duplicates()

In [42]:
# def sample_data(df, method='zip', false_to_true_ratio=3):
#     if method == 'zip':
#         groups = df.groupby('UW_ZIP')
#         shortfalls = {}
#         sampled_list = []

#         for zip_code, group in groups:
#             sampled_group, shortfall = sample_group(group, false_to_true_ratio)
#             sampled_list.append(sampled_group)
#             if shortfall > 0:
#                 shortfalls[zip_code] = shortfall

#         sampled = pd.concat(sampled_list).reset_index(drop=True)

#         # Fill the shortfalls from the corresponding UW_STATE
#         zip_to_state = df.drop_duplicates('UW_ZIP')[['UW_ZIP', 'UW_STATE']].set_index('UW_ZIP')['UW_STATE'].to_dict()

#         additional_sample_list = []
#         for zip_code, shortfall in shortfalls.items():
#             state = zip_to_state.get(zip_code)
#             if state:
#                 already_selected = sampled[sampled['UW_STATE'] == state]
#                 state_group = df[(df['UW_STATE'] == state) & (df['claim_exists'] == False) & (~df.index.isin(already_selected.index))]           
#                 additional_sample = state_group.sample(n=min(shortfall, len(state_group)), replace=False)
#                 additional_sample_list.append(additional_sample)
#             else:
#                 print(f"No corresponding state found for zip code {zip_code}")

#         additional_sampled = pd.concat(additional_sample_list).reset_index(drop=True)
#         final_sampled_df = pd.concat([sampled, additional_sampled]).drop_duplicates()
        
#     elif method == 'state':
#         groups = df.groupby('UW_STATE')
#         shortfalls = {}
#         sampled_list = []

#         for state, group in groups:
#             sampled_group, shortfall = sample_group(group, false_to_true_ratio)
#             sampled_list.append(sampled_group)
#             if shortfall > 0:
#                 shortfalls[state] = shortfall

#         sampled = pd.concat(sampled_list).reset_index(drop=True)

#         # Fill the shortfalls from the national level only if there are shortfalls for any states
#         if shortfalls:
#             national_group = df[df['claim_exists'] == False]
#             additional_sample_list = []
#             for state, shortfall in shortfalls.items():
#                 already_selected = sampled[sampled['UW_STATE'] == state]
#                 state_group = df[(df['UW_STATE'] == state) & (df['claim_exists'] == False) & (~df.index.isin(already_selected.index))]
#                 additional_sample = national_group.sample(n=min(shortfall, len(national_group)), replace=False)
#                 additional_sample_list.append(additional_sample)

#             additional_sampled = pd.concat(additional_sample_list).reset_index(drop=True)
#             final_sampled_df = pd.concat([sampled, additional_sampled]).drop_duplicates()
#         else:
#             final_sampled_df = sampled  # No shortfalls for any states, return the sampled DataFrame

#     elif method == 'national':
#         false_group = df[df['claim_exists'] == False]
#         true_group = df[df['claim_exists'] == True]
#         n_true = len(true_group)
#         n_false = len(false_group)
#         n_false_required = n_true * false_to_true_ratio
#         sampled_false = false_group.sample(n=min(n_false, n_false_required), replace=False)
#         final_sampled_df = pd.concat([sampled_false, true_group])

#     else:
#         raise ValueError("Invalid sampling method. Choose from 'zip', 'state', or 'national'.")

#     return final_sampled_df

# final_sampled_df = sample_data(filtered_df, method='national', false_to_true_ratio=3)

In [43]:
def sample_data(df, method='zip', false_to_true_ratio=3):
    if method == 'zip':
        groups = df.groupby('UW_ZIP')
        shortfalls = {}
        sampled_list = []

        for zip_code, group in groups:
            sampled_group, shortfall = sample_group(group, false_to_true_ratio)
            sampled_list.append(sampled_group)
            if shortfall > 0:
                shortfalls[zip_code] = shortfall

        sampled = pd.concat(sampled_list).reset_index(drop=True)

        # Fill the shortfalls from the corresponding UW_STATE
        zip_to_state = df.drop_duplicates('UW_ZIP')[['UW_ZIP', 'UW_STATE']].set_index('UW_ZIP')['UW_STATE'].to_dict()

        additional_sample_list = []
        for zip_code, shortfall in shortfalls.items():
            state = zip_to_state.get(zip_code)
            if state:
                already_selected = sampled[sampled['UW_STATE'] == state]
                state_group = df[(df['UW_STATE'] == state) & (df['claim_exists'] == False) & (~df.index.isin(already_selected.index))]           
                additional_sample = state_group.sample(n=min(shortfall, len(state_group)), replace=False)
                additional_sample_list.append(additional_sample)
            else:
                print(f"No corresponding state found for zip code {zip_code}")

        additional_sampled = pd.concat(additional_sample_list).reset_index(drop=True)
        final_sampled_df = pd.concat([sampled, additional_sampled]).drop_duplicates()
        
    elif method == 'state':
        groups = df.groupby('UW_STATE')
        shortfalls = {}
        sampled_list = []

        for state, group in groups:
            sampled_group, shortfall = sample_group(group, false_to_true_ratio)
            sampled_list.append(sampled_group)
            if shortfall > 0:
                shortfalls[state] = shortfall

        sampled = pd.concat(sampled_list).reset_index(drop=True)

        # Fill the shortfalls from the national level only if there are shortfalls for any states
        if shortfalls:
            national_group = df[df['claim_exists'] == False]
            additional_sample_list = []
            for state, shortfall in shortfalls.items():
                already_selected = sampled[sampled['UW_STATE'] == state]
                state_group = df[(df['UW_STATE'] == state) & (df['claim_exists'] == False) & (~df.index.isin(already_selected.index))]
                additional_sample = national_group.sample(n=min(shortfall, len(national_group)), replace=False)
                additional_sample_list.append(additional_sample)

            additional_sampled = pd.concat(additional_sample_list).reset_index(drop=True)
            final_sampled_df = pd.concat([sampled, additional_sampled]).drop_duplicates()
        else:
            final_sampled_df = sampled  # No shortfalls for any states, return the sampled DataFrame

    elif method == 'national':
        false_group = df[df['claim_exists'] == False]
        true_group = df[df['claim_exists'] == True]
        n_true = len(true_group)
        n_false = len(false_group)
        n_false_required = n_true * false_to_true_ratio
        sampled_false = false_group.sample(n=min(n_false, n_false_required), replace=False)
        final_sampled_df = pd.concat([sampled_false, true_group])

    else:
        raise ValueError("Invalid sampling method. Choose from 'zip', 'state', or 'national'.")

    return final_sampled_df

final_sampled_df = sample_data(filtered_df, method='national', false_to_true_ratio=5)

In [45]:
final_sampled_df.shape

(14034, 13)

In [8]:
final_sampled_df.to_csv('../data/datasets/output/sampled_data_input.csv', index=False)

In [4]:
# new start
final_sampled_df = pd.read_csv('../data/datasets/output/sampled_data_input.csv')

In [5]:
no_claim_addresses = final_sampled_df.loc[final_sampled_df.claim_exists == 0, 'full_address'].to_list()

In [6]:
len(no_claim_addresses)

11695

In [7]:
claim_addresses = final_sampled_df.loc[final_sampled_df.claim_exists == 1, 'full_address'].to_list()

In [8]:
len(claim_addresses)

2339

In [9]:
rci = RoofConditionInsights(
    env="PRD",
    api_key="79802C81EF4C49C5A24F202BF3BB5219",
    api_companyid="3168675050",
    username="all@vod.com",
    password="myriadvod123456",
    verbose=True
)

st = time.time()
# df_rci_uw_wo_claims = rci.process_multiple_addresses(no_claim_addresses, generate_pdf=False, save_json=Flase)
df_rci_uw_wo_claims = rci.process_multiple_addresses(no_claim_addresses, 
                               generate_pdf=False, 
                               save_json=False, 
                               start_index=0, 
                               process_method='parallel', 
                               max_workers=5,
                               chunk_size=500)
et = time.time()
print('Processing time', et - st)

Access token is retrieved with status code 200.


---
Starting new run for 11695 addresses from index 0 using parallel processing...
Created folder: /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_0_to_500_20240403_0053.parquet
Chunk (index) [0:500] Processed - Success: 62.0%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_500_to_1000_20240403_0101.parquet
Chunk (index) [500:1000] Processed - Success: 67.8%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_1000_to_1500_20240403_0110.parquet
Chunk (index) [1000:1500] Processed - Success: 69.6%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_1500_to_2000_20240403_0119.parquet
Chunk (index) [1500:2000] Processed - Success: 70.8%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_2000_to_2500_20240403_0127.parquet
Chunk (index) [2000:2500] Processed - Success: 67.0%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_2500_to_3000_20240403_0136.parquet
Chunk (index) [2500:3000] Processed - Success: 68.4%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_3000_to_3500_20240403_0144.parquet
Chunk (index) [3000:3500] Processed - Success: 70.0%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_3500_to_4000_20240403_0153.parquet
Chunk (index) [3500:4000] Processed - Success: 68.0%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_4000_to_4500_20240403_0201.parquet
Chunk (index) [4000:4500] Processed - Success: 68.6%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_4500_to_5000_20240403_0210.parquet
Chunk (index) [4500:5000] Processed - Success: 69.8%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_5000_to_5500_20240403_0218.parquet
Chunk (index) [5000:5500] Processed - Success: 70.6%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_5500_to_6000_20240403_0227.parquet
Chunk (index) [5500:6000] Processed - Success: 70.6%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_6000_to_6500_20240403_0235.parquet
Chunk (index) [6000:6500] Processed - Success: 69.8%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_6500_to_7000_20240403_0244.parquet
Chunk (index) [6500:7000] Processed - Success: 68.0%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_7000_to_7500_20240403_0252.parquet
Chunk (index) [7000:7500] Processed - Success: 70.34%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_7500_to_8000_20240403_0301.parquet
Chunk (index) [7500:8000] Processed - Success: 67.8%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_8000_to_8500_20240403_0309.parquet
Chunk (index) [8000:8500] Processed - Success: 59.52%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_8500_to_9000_20240403_0318.parquet
Chunk (index) [8500:9000] Processed - Success: 60.2%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_9000_to_9500_20240403_0326.parquet
Chunk (index) [9000:9500] Processed - Success: 64.0%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_9500_to_10000_20240403_0335.parquet
Chunk (index) [9500:10000] Processed - Success: 67.2%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_10000_to_10500_20240403_0343.parquet
Chunk (index) [10000:10500] Processed - Success: 61.52%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_10500_to_11000_20240403_0352.parquet
Chunk (index) [10500:11000] Processed - Success: 62.53%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_11000_to_11500_20240403_0400.parquet
Chunk (index) [11000:11500] Processed - Success: 63.6%

../src/roof_condition_insights.py:587: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_chunk = pd.concat(chunk_dfs, ignore_index=True)

Checkpoint saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/Checkpoints_20240403_0044/checkpoint_11500_to_12000_20240403_0403.parquet
Chunk (index) [11500:11695] Processed - Success: 69.74%
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
Merged dataframe saved to /home/jupyter/majid/roof-condition-insights/data/datasets/output/merged_Checkpoints_20240403_0044.parquet
Finished running for 11695 addresses using parallel processing.
Processing time 12037.640541791916

In [13]:
df_rci_uw_wo_claims = pd.read_parquet("../data/datasets/output/Checkpoints_20240403_0044/checkpoint_11500_to_12000_20240403_0403.parquet")

In [74]:
folder_name = 'Checkpoints_20240402_2144'
data_dir = '../data'
folder_path = os.path.join(data_dir, 'datasets/output', folder_name)

# # Create the folder if it doesn't exist
# if not os.path.exists(folder_path):
#     print(f"Folder Not Found: {folder_path}")

# # Get a list of all parquet files in the folder
parquet_files = sorted([f for f in os.listdir(folder_path) if f.endswith('.parquet')])
def sorting_key(filename):
    # Extract the value after 'checkpoint_'
    start_index = filename.find('checkpoint_') + len('checkpoint_')
    end_index = filename.find('_to_')
    value_str = filename[start_index:end_index]
    return int(value_str)

# Sort the list using the custom sorting key
parquet_files = sorted(parquet_files, key=sorting_key)

# if not parquet_files:
#     print("No parquet files found in the folder.")
#     return None

# Read each parquet file and append it to a list
dfs = []
for file in parquet_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_parquet(file_path)
    dfs.append(df)

# Merge all dataframes
merged_df1 = pd.concat(dfs, ignore_index=True)

# # Save the merged dataframe
# merged_filename = f'merged_{folder_name}.parquet'
# merged_filepath = os.path.join(self.data_dir, 'datasets/output', merged_filename)
# merged_df.to_parquet(merged_filepath)
# print(f"Merged dataframe saved to {merged_filepath}")

In [76]:
merged_df.shape

(11691, 47)

In [78]:
merged_df1.head()

,address,run_completed,run_status_code,trackingId,pdfContent,propertyCharacteristics_totalLivingArea,propertyCharacteristics_totalLivingAreaSource,propertyCharacteristics_yearBuilt,propertyCharacteristics_yearBuiltSource,propertyCharacteristics_propertyConstructionType,...,location_longitude,location_inputAddress,roofConditionInsightsScore_riskScore,roofConditionInsightsScore_riskDescription,rci_score_v1.0,rci_score_v1.1,rci_key_triggers,rci_raw_score_v1.0,rci_raw_score_v1.1,historicalRoofPermits
0,"69 SPRING ST, CHESTER, SC 29706",False,204,None,None,NaN,None,NaN,None,None,...,NaN,None,NaN,None,NaN,NaN,None,NaN,NaN,None
1,"5237 ROOSEVELT BLVD, PHILADELPHIA, PA 19124",False,204,None,None,NaN,None,NaN,None,None,...,NaN,None,NaN,None,NaN,NaN,None,NaN,NaN,None
2,"235 W HOLLAND ST, MINDEN, NE 68959",False,204,None,None,NaN,None,NaN,None,None,...,NaN,None,NaN,None,NaN,NaN,None,NaN,NaN,None
3,"6405 TOWLES MILL RD, SPOTSYLVANIA, VA 22551",False,204,None,None,NaN,None,NaN,None,None,...,NaN,None,NaN,None,NaN,NaN,None,NaN,NaN,None
4,"847 MICHELTORENA ST, LOS ANGELES, CA 90026",True,200,None,None,1746.0,InterChange,1924.0,InterChange,"Siding, Wood (100%)",...,-118.278697,847 MICHELTORENA ST LOS ANGELES CA 90026,1.5,LOW,1.5,1.5,"[Ponding, Tree Overhang]",1.5,1.5,None

In [ ]:
merged_df.to_parquet("../data/datasets/output/Checkpoints_20240403_0044/checkpoint_11500_to_12000_20240403_0403_1.parquet")

In [31]:
df_rci_uw_wo_claims = merged_df

In [41]:
df1 = pd.read_csv("../data/datasets/output/rci_data_checkpoint_3000_20240402_1442.csv")

In [41]:
df1 = pd.read_csv("../data/datasets/output/rci_data_checkpoint_3000_20240402_1442.csv")

In [50]:
df1 = df1.drop('Unnamed: 0', axis=1)

In [56]:
df_rci_uw_wo_claims = pd.concat([merged_df, df1], axis=0)

In [63]:
df_rci_uw_wo_claims['run_status_code'] = df_rci_uw_wo_claims.run_status_code.astype(int)
df_rci_uw_wo_claims.run_status_code.value_counts()

run_status_code
200    10263
204     4422
500        5
Name: count, dtype: int64

In [ ]:
# # Find new samples with status 200
# eligible_rows = df_rci_uw_wo_claims[df_rci_uw_wo_claims['run_status_code'] != "200"]
# already_included_addresses = final_sampled_df['full_address'].unique()
# new_samples_list = []  # List to collect new samples

# for _, row in eligible_rows.iterrows():
#     # Extract current row's UW_ZIP
#     current_address = row['address']
#     current_address_lower = current_address.lower()
#     filtered_df['full_address_lower'] = filtered_df['full_address'].str.lower()
#     current_zip = filtered_df.loc[filtered_df['full_address_lower'] == current_address_lower, 'UW_ZIP'].iloc[0]

#     # current_zip = filtered_df.loc[current_address, 'UW_ZIP']
    
#     # Filter `filtered_df` for the same UW_ZIP, `claim_exists` == False, and not already included based on `full_address`
#     eligible_samples = filtered_df[
#         (filtered_df['UW_ZIP'] == current_zip) &
#         (filtered_df['claim_exists'] == False) &
#         (~filtered_df['full_address'].isin(already_included_addresses))
#     ]
    
#     # Check if there are at least 2 samples to select from
#     if len(eligible_samples) >= 2:
#         new_samples = eligible_samples.sample(n=2, replace=False)  # Sample 2 new entries
#     else:
#         # If not enough samples, take what is available
#         new_samples = eligible_samples
    
#     # If new_samples is not empty, proceed
#     if not new_samples.empty:
#         # Update the list of already included addresses to prevent re-selection
#         already_included_addresses = np.concatenate((already_included_addresses, new_samples['full_address'].unique()))
        
#         # Collect the new samples
#         new_samples_list.append(new_samples)

# # Concatenate all new samples into a DataFrame
# new_samples_df = pd.concat(new_samples_list).drop_duplicates().reset_index(drop=True)

In [ ]:
# new_samples_df.shape

In [ ]:
# new_sample_addresses = new_samples_df.loc[new_samples_df.claim_exists == 0, 'full_address'].to_list()

In [ ]:
# rci = RoofConditionInsights(
#     env="PRD",
#     api_key="79802C81EF4C49C5A24F202BF3BB5219",
#     api_companyid="3168675050",
#     username="all@vod.com",
#     password="myriadvod123456"
# )
# st = time.time()
# df_rci_uw_wo_claims2 = rci.process_multiple_addresses(new_sample_addresses, generate_pdf=False, save_json=True)
# et = time.time()
# print('Processing time', et - st)

In [ ]:
# df_rci_uw_wo_claims = pd.read_csv('../data/datasets/output/df_rci_wo_claim.csv')

In [ ]:
# df_rci_uw_wo_claims

In [35]:
df_rci_uw_w_claims = pd.read_csv('../data/datasets/output/claim_data_2023_UW_Q4_allstate_prod_1.csv')

# MERGE CLAIM AND NO CLAIM DATA

In [89]:
df_rci_uw_w_wo_claims_final = pd.concat([df_rci_uw_w_claims, df_rci_uw_wo_claims, merged_df1])

In [90]:
df_rci_uw_w_wo_claims_final.shape

(21657, 49)

In [91]:
df_rci_uw_w_wo_claims_final = df_rci_uw_w_wo_claims_final[df_rci_uw_w_wo_claims_final['run_completed']]

In [94]:
df_rci_uw_w_wo_claims_final['address'].nunique()

14414

In [97]:
df_rci_uw_w_wo_claims_final = df_rci_uw_w_wo_claims_final.drop_duplicates(subset='address')

In [103]:
df_rci_uw_w_wo_claims_final.run_status_code.value_counts()

run_status_code
200    14414
Name: count, dtype: int64

In [104]:
df_rci_uw_w_wo_claims_final.shape

(14414, 49)

In [114]:
df_rci_uw_w_wo_claims_final = df_rci_uw_w_wo_claims_final.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)

In [127]:
df_rci_uw_w_wo_claims_final.shape

(14414, 47)

In [128]:
df_rci_uw_w_wo_claims_final.to_csv('../data/datasets/output/all_data_2023_UW_Q4_allstate_superset.csv')

In [129]:
df1 = pd.read_csv('../data/datasets/output/all_data_2023_UW_Q4_allstate_superset.csv')

In [194]:
df1.to_parquet('../data/datasets/output/all_data_2023_UW_Q4_allstate_superset.parquet', 
               engine='pyarrow')

In [195]:
df_tmp = pd.read_parquet('../data/datasets/output/all_data_2023_UW_Q4_allstate_superset.parquet', 
               engine='pyarrow')

In [198]:
df_tmp.shape

(14414, 48)

In [130]:
df1.shape

(14414, 48)

In [137]:
df1 = df1.drop('Unnamed: 0', axis=1)

In [ ]:
merged_df.shape

In [179]:
df_t = pd.read_csv('../data/datasets/output/rci_claim_23_uw_22Q4.csv')

In [ ]:
df_t2 = pd.read_parquet('../data/datasets/output/all_data_UWQ4_claim2023_data_allstate_superset.parquet')

In [ ]:
df_tmp = pd.read_parquet('../data/datasets/output/all_data_UWQ4_claim2023_data_allstate_superset.parquet')

In [199]:
df_rci_uw_w_wo_claims_final = df_tmp

In [200]:
df_rci_uw_w_wo_claims_final['address_lower'] = df_rci_uw_w_wo_claims_final['address'].str.lower()
df_claims_UW['full_address_lower'] = df_claims_UW['full_address'].str.lower()
merged_df = pd.merge(
    left=df_rci_uw_w_wo_claims_final,
    right=df_claims_UW,
    how='left',
    left_on='address_lower',
    right_on='full_address_lower'
)
merged_df.drop(columns=['address_lower', 'full_address_lower'], inplace=True)

In [201]:
merged_df.to_parquet('../data/datasets/output/all_data_UWQ4_claim2023_data_allstate_superset.parquet',
                    engine='pyarrow')

In [ ]:
merged_df_tmp = pd.read_parquet('../data/datasets/output/all_data_UWQ4_claim2023_data_allstate_superset.parquet',
                    engine='pyarrow')
merged_df_tmp.shape

(14415, 60)

In [ ]:
merged_df_tmp.claim_exists.value_counts()

claim_exists
0    12076
1     2339
Name: count, dtype: int64

In [ ]:
merged_df_tmp.address.nunique()

14414

In [ ]:
# import pandas as pd

# balanced_dfs = []

# # Ensure DataFrame columns for comparison are in the correct type
# merged_df['claim_exists'] = merged_df['claim_exists'].astype(bool)

# for zip_code in merged_df['UW_ZIP'].unique():
#     df_zip = merged_df[merged_df['UW_ZIP'] == zip_code]
#     corresponding_state = df_zip['UW_STATE'].iloc[0]  # Assuming all rows in a ZIP code share the same state
    
#     true_count = (df_zip['claim_exists'] == True).sum()
#     false_count = (df_zip['claim_exists'] == False).sum()
    
#     # If there are more false claims than true claims, downsample false claims
#     if false_count > true_count:
#         df_zip_false = df_zip[df_zip['claim_exists'] == False].sample(n=true_count, replace=False)
#         df_zip_true = df_zip[df_zip['claim_exists'] == True]
#         df_zip = pd.concat([df_zip_true, df_zip_false])
    
#     # Calculate the shortfall of false claims if there are more true claims than false claims
#     elif true_count > false_count:
#         shortfall = true_count - false_count
#         additional_false = merged_df[(merged_df['UW_STATE'] == corresponding_state) & 
#                                      (merged_df['claim_exists'] == False) & 
#                                      (~merged_df['full_address'].isin(df_zip['full_address']))]
        
#         if len(additional_false) >= shortfall:
#             additional_false = additional_false.sample(n=shortfall, replace=False)
#         df_zip = pd.concat([df_zip, additional_false])
    
#     balanced_dfs.append(df_zip)

# balanced_merged_df = pd.concat(balanced_dfs).reset_index(drop=True)

In [ ]:
import pandas as pd

def balance_data(merged_df, method='zip'):
    balanced_dfs = []

    # Ensure DataFrame columns for comparison are in the correct type
    merged_df['claim_exists'] = merged_df['claim_exists'].astype(bool)

    if method == 'zip':
        for zip_code in merged_df['UW_ZIP'].unique():
            df_zip = merged_df[merged_df['UW_ZIP'] == zip_code]
            corresponding_state = df_zip['UW_STATE'].iloc[0]  # Assuming all rows in a ZIP code share the same state

            true_count = (df_zip['claim_exists'] == True).sum()
            false_count = (df_zip['claim_exists'] == False).sum()

            # If there are more false claims than true claims, downsample false claims
            if false_count > true_count:
                df_zip_false = df_zip[df_zip['claim_exists'] == False].sample(n=true_count, replace=False)
                df_zip_true = df_zip[df_zip['claim_exists'] == True]
                df_zip = pd.concat([df_zip_true, df_zip_false])

            # Calculate the shortfall of false claims if there are more true claims than false claims
            elif true_count > false_count:
                shortfall = true_count - false_count
                additional_false = merged_df[(merged_df['UW_STATE'] == corresponding_state) &
                                             (merged_df['claim_exists'] == False) &
                                             (~merged_df['full_address'].isin(df_zip['full_address']))]

                if len(additional_false) >= shortfall:
                    additional_false = additional_false.sample(n=shortfall, replace=False)
                df_zip = pd.concat([df_zip, additional_false])

            balanced_dfs.append(df_zip)

    elif method == 'state':
        for state in merged_df['UW_STATE'].unique():
            df_state = merged_df[merged_df['UW_STATE'] == state]

            true_count = (df_state['claim_exists'] == True).sum()
            false_count = (df_state['claim_exists'] == False).sum()

            # If there are more false claims than true claims, downsample false claims
            if false_count > true_count:
                df_state_false = df_state[df_state['claim_exists'] == False].sample(n=true_count, replace=False)
                df_state_true = df_state[df_state['claim_exists'] == True]
                df_state = pd.concat([df_state_true, df_state_false])

            # Calculate the shortfall of false claims if there are more true claims than false claims
            elif true_count > false_count:
                shortfall = true_count - false_count
                additional_false = merged_df[(merged_df['UW_STATE'] == state) &
                                             (merged_df['claim_exists'] == False) &
                                             (~merged_df['full_address'].isin(df_state['full_address']))]

                if len(additional_false) >= shortfall:
                    additional_false = additional_false.sample(n=shortfall, replace=False)
                df_state = pd.concat([df_state, additional_false])

            balanced_dfs.append(df_state)

    elif method == 'national':
        true_count = (merged_df['claim_exists'] == True).sum()
        false_count = (merged_df['claim_exists'] == False).sum()

        # If there are more false claims than true claims, downsample false claims
        if false_count > true_count:
            df_false = merged_df[merged_df['claim_exists'] == False].sample(n=true_count, replace=False)
            df_true = merged_df[merged_df['claim_exists'] == True]
            merged_df = pd.concat([df_true, df_false])

        # Calculate the shortfall of false claims if there are more true claims than false claims
        elif true_count > false_count:
            shortfall = true_count - false_count
            additional_false = merged_df[merged_df['claim_exists'] == False].sample(n=shortfall, replace=False)
            merged_df = pd.concat([merged_df, additional_false])

        balanced_dfs.append(merged_df)

    else:
        raise ValueError("Invalid balancing method. Choose from 'zip', 'state', or 'national'.")

    balanced_merged_df = pd.concat(balanced_dfs).reset_index(drop=True)
    return balanced_merged_df

# Usage example:
# method: 'zip', 'state', or 'national'
balanced_df = balance_data(merged_df, method='national')

In [ ]:
output_filepath = os.path.join(DATA_DIR, 'datasets/output/rci_claim_23_uw_22Q4.csv')
balanced_merged_df.to_csv(output_filepath, index=False)

In [ ]:
df_rci_uw_w_wo_claims_final.run_status_code.value_counts()

In [ ]:
balanced_merged_df.run_status_code.value_counts()

In [ ]:
balanced_merged_df['claim_exists'].value_counts()

In [ ]:
score_cols = [col for col in balanced_merged_df if 'score' in col.lower() or 'condition' in col.lower()]
balanced_merged_df.loc[balanced_merged_df.address=='5416 MORELLA AVE, VALLEY VILLAGE, CA 91607', score_cols]

In [ ]:
neq_cond = balanced_merged_df['score_v1.0'] != balanced_merged_df['roofConditionInsightsScore_riskScore']
balanced_merged_df[neq_cond]

In [ ]:
balanced_merged_df.loc[balanced_merged_df.address=='5416 MORELLA AVE, VALLEY VILLAGE, CA 91607', 'roofCharacteristics_roofConditions'][196]